/* Geral    */

*{
    padding: 0;
    margin: 0;
    font-family: helvetica;
    color: #333;
    box-sizing: border-box;
}

body{
    background-image: url("../img/Background.jpg");
    background-position: center;
    background-size: cover;
}
button{
    background-color: rgba(255, 255, 255, 0.867);
    color: #102f5e;
    border: 2px solid #102f5e;
    padding: .3rem , 6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

button:hover{
    background-color: #102f5e;
    color: white;
}
button:hover > i {
    color: white;
}

button i {
    color: #102f5e;
    font-weight:bold ;
    pointer-events: none;
}

input, 
select{
    padding: 0.25rem 0.5rem;
}

.hide{
    display: none;
}

/* Todo Header  */


.todo-container{
    max-width: 450px;
    margin: 3rem auto ;
    background-color: white;
    padding: 1.5rem;
    border-radius: 15px;
     
}
.todo-container header{
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid white;
}

#todo-form p,
#edit-form p{
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control{
    display: flex;
}

.form-control input{
    margin-right: 0.3rem;
}

#cancel-edit-btn{
    margin-top: 1rem;
}


/* Todo toolbar*/

#toolbar {
    padding: 1rem;
    border-bottom: 1px solid white;
    display: flex;
}

#toolbar h4{
    margin-bottom: .5rem;
}

#search{
    border-right:1px solid white ;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}
#search form{
    display: flex;
}

#search input{
    width: 100%;
    margin-right: 0.3rem;
}

#filter{
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select{
    flex: 1;
}

/* Todo List*/

.todo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid white;
    transition: .3s;
}
.todo h3{
    flex: 1;
    font-size: 0.9rem;
}
.todo button{
    margin-left:0.4rem ;
    padding: 0.3rem;
    
    
}

.done {
    background-color: #395169;
}
.done h3{
    color: white;
    text-decoration: line-through;
    font-style: italic;
}